<div class="relative flex flex-col h-full max-h-full text-white bg-secondary">
  <div class="px-6 pt-4 font-bold">
    <!-- Logo -->
    Moods cafe
    <!-- End Logo -->
  </div>

  <!-- Content -->
  <div
    class="h-full overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300">
    <nav class="flex flex-col flex-wrap w-full p-3 hs-accordion-group" data-hs-accordion-always-open>
      <ul class="flex flex-col space-y-1">
        @for (page of pages; track $index) {
          <li [routerLink]="[page.path]" routerLinkActive="bg-gray-100 text-secondary cursor-pointer">

            <a class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm rounded-lg hover:bg-gray-100 hover:text-secondary focus:outline-none focus:bg-gray-100 focus:text-secondary cursor-pointer">
              <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
                <polyline points="9 22 9 12 15 12 15 22" />
              </svg>
              {{page.name}}
            </a>
          </li>
        }
      </ul>
    </nav>
  </div>
  <!-- End Content -->
   @if (user) {
     <p class="text-beige text-center">welcome {{user.name}}</p>
    }
  <button class="py-2 px-2.5 text-sm rounded-lg bg-gray-100 mx-auto my-2 w-3/4 text-grey text-center cursor-pointer" (click)="logout()">تسجيل الخروج</button>
</div>
