
@if (isAdmin) {
  <app-modal [isModalOpen]="isModalOpen" (closeModal)="closeModal()" (save)="save()"></app-modal>
}

<div class="page">
  <div class="m-3 btns">
    <ng-container *ngIf="isAdmin">
      <button class="px-4 py-2 mx-2 w-[200px] rounded-full font-semibold bg-roseDark-100 text-white hover:bg-secondary" (click)="openModal()">
        أضف عنصر جديد للقائمة
      </button>
    </ng-container>
    <button class="px-4 py-2 w-[200px] rounded-full font-semibold bg-roseDark-100 text-white hover:bg-secondary" (click)="cancel()">
      cancel
    </button>
  </div>
<div class="flex justify-between flex-wrap md:flex-nowrap gap-[15px]">
<div class="container flex flex-col justify-center menu-items-wrapper">
  <ul class="flex justify-center gap-[15px] my-5 flex-wrap">
    @for (category of menuCategories; track category) {
      <li class="rounded-full text-center border-2 font-bold border-secondary text-secondary {{selectedCategory == category.en?'bg-secondary text-white':''}}">
      <button class="px-5 py-1" (click)="filterItemsByCategory(category.en)" >
        {{category.ar}}
      </button>
      </li>
    }
  </ul>
  <input #searchInput type="search" name="searchItem" id="searchItem"  (input)="searchMenuItems($event)" class="border rounded shadow-sm p-2 mb-4 mx-auto sm:w-[90%] md:w-[70%] lg:w-[60%] " placeholder="ابحث">
  <div class="flex flex-wrap justify-center gap-[15px]">
    @for (item of filteredItems; track item.id) {
      <app-menu-item [item]="item" [enableOrdering]="enableOrdering" [canUseEdit]="isAdmin"></app-menu-item>
    }
  </div>
</div>
<!-- @if (enableOrdering) { -->
    <button (click)="orderDetails.toggleOrderDetails()" class="bg-secondary md:hidden fixed top-[3rem] left-[-4px] cursor-pointer border-0 py-2 px-4"> <i class="text-white fa-solid fa-clipboard"></i></button>
    <app-order-sidebar #orderDetails class="rounded text-secondary md:sticky top-[60px] left-0 w-0 md:w-[350px] xl:min-w-[420px] max-h-full" (setOrder)="setOrder($event)"></app-order-sidebar>
  <!-- } -->
</div>
</div>
