
<a class="block rounded relative rounded overflow-hidden">
  <img alt="menu item" class="object-cover object-center w-full h-full block {{selectedMenuItems[item.id -1]['isSelected'] ?'border-secondary border-2':''}}"
    [src]="item.image? item.image : 'https://dummyimage.com/200x160'">

</a>
<div class="p-2 relative flex flex-col">
  <button class=" rounded-full absolute top-[-25px] order-btn px-5 py-2 w-[calc(95%-2rem)] font-semibold bg-beige border-2 text-secondary block m-auto mb-2 {{selectedMenuItems[item.id -1]['isSelected'] ?'border-secondary':'border-cream '}}"
  (click)="addToOrder(item)"> Add
  to order <i class="fa-solid fa-clipboard-list text-secondary"></i></button>

  <div class=" mt-[25px] flex justify-between">
    <h3 class=" text-gray-500 tracking-widest title-font mb-1">{{item.name}}</h3>
    <hr class="w-[calc(100%-1rem)] h-[20px] border-cream mt-4 mx-1">
    <p class="text-secondary font-bold ms-2">{{item.price}} جنيه</p>
  </div>
</div>

