<a class="block relative h-48 rounded overflow-hidden">
  <img alt="ecommerce" class="object-cover object-center w-full h-full block"
    [src]="item.image? item.image : 'https://dummyimage.com/420x260'">
</a>
<div class="p-2">
  <h3 class="text-gray-500 tracking-widest title-font mb-1">{{item.name}}</h3>
  <p class="mt-1">{{item.price}} EGP</p>
</div>
@if (enableOrdering) {
<button class="px-4 py-2 rounded-lg font-semibold bg-slate-600 text-white block m-auto mb-2"
  (click)="addToOrder(item)">Add
  to order</button>
}
