:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 2.5rem);
  margin-top: -1rem;
  width: 100%;
  background-image: url("../../../assets/images/moods-cafe-system.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

.login-page{
  width: -webkit-fill-available;
}
