<div>
  <span class="px-2 font-bold text-white cursor-pointer bg-secondary" (click)="onOrderStatus(order.orderId)"> تغيير الحالة  </span>

</div>
<!-- make it a select box or a button with a dropdown -->
<div class="flex flex-wrap items-baseline justify-between gap-2 p-3 shadow-sm">
  <span class=""> الاسم : {{ order.customerName || "لا يوجد" }} </span>
  @if (isEditAllowed) {
    <span class="">
      <span class="font-bold text-roseDark-100"> اوردر رقم : </span>
      {{ order.orderNo }}
    </span>
  }
</div>
<div class="px-3 py-2">
  @for (item of order.items; track item.id) {

  <div class="mb-3">
    <h3 class="m-0 font-bold text-secondary">{{ item.itemName }}</h3>
    <div class="flex items-center justify-between w-full">
      <span class="text-roseDark-100">{{ item.quantity + "x" }}</span>
      <span class="mx-1 text-roseMedium2">{{ item.price + "@" }}</span>
      <span class="justify-end mx-2 font-bold text-roseMedium2">{{ item.total }} جنيه</span>
    </div>
    <hr class="mt-2" />
  </div>

  }
  <h3 class="my-3 text-xl font-semibold text-roseDark-100">
    الاجمالي : {{ order.total }} جنيه
  </h3>
  <p class="my-3 text-gray-500">
    تاريخ الاوردر : {{ order.date | date : "medium" }}
  </p>
  @if (order.paidDate) {
    <p class="my-3 text-gray-500">
      تاريخ الدفع : {{ order.paidDate| date : "medium" }}
    </p>
  }
</div>
<!-- buttons -->
<div
  class="flex mt-auto border-t border-gray-200 divide-x divide-gray-200">
  <button
    class="inline-flex items-center justify-center w-full px-4 py-3 text-sm font-medium text-white shadow-sm gap-x-2 rounded-es-xl bg-secondary focus:outline-none disabled:opacity-50 disabled:pointer-events-none"
    (click)="onPrintOrder(order.orderId)">
    طباعة
  </button>
  @if (isEditAllowed) {
    <button
    class="inline-flex items-center justify-center w-full px-4 py-3 text-sm font-medium bg-white shadow-sm gap-x-2 rounded-ee-xl text-secondary focus:outline-none disabled:opacity-50 disabled:pointer-events-none"
    (click)="onEditOrder(order.orderId)">
    تعديل
  </button>
}
</div>
