<div>
  <span class="font-bold text-roseDark-100"> الحالة </span>
  <select
    class="rounded bg-beige w-[120px] px-3 py-2 border-2 border-cream text-roseDark-100 focus:bg-beige focus:outline-none"
    name="order-status"
    id="order-status"
    [(ngModel)]="SelectedOrderStatus"
    (change)="onOrderStatus(order.orderId, SelectedOrderStatus)"
  >
    @for (status of OrderStatusTranslations; track $index) {
      @if (status.en !== order.status) {
    <option class="hover:bg-roseLight1 bg-beige" [value]="status.en">
        <span  class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 " >
          {{status.ar}}
        </span>
      </option>
    }
    }
  </select>
</div>
<!-- make it a select box or a button with a dropdown -->
<div class="flex flex-wrap items-baseline justify-between gap-2 p-3 shadow-sm">
  <span class=""> الاسم : {{ order.customerName || "لا يوجد" }} </span>
  @if (isEditAllowed) {
    <span class="">
      <span class="font-bold text-roseDark-100"> اوردر رقم : </span>
      {{ order.orderNo }}
    </span>
  }
</div>
<div class="px-3 py-2">
  @for (item of order.items; track item.id) {

  <div class="mb-3">
    <h3 class="m-0 font-bold text-secondary">{{ item.itemName }}</h3>
    <div class="flex items-center justify-between w-full">
      <span class="text-roseDark-100">{{ item.quantity + "x" }}</span>
      <span class="mx-1 text-roseMedium2">{{ item.price + "@" }}</span>
      <span class="justify-end mx-2 font-bold text-roseMedium2">{{ item.total }} جنيه</span>
    </div>
    <hr class="mt-2" />
  </div>

  }
  <h3 class="my-3 text-xl font-semibold text-roseDark-100">
    الاجمالي : {{ order.total }} جنيه
  </h3>
  <p class="my-3 text-gray-500">
    التاريخ : {{ order.date | date : "medium" }}
  </p>
</div>
<!-- buttons -->
<div
  class="flex mt-auto border-t border-gray-200 divide-x divide-gray-200">
  <button
    class="inline-flex items-center justify-center w-full px-4 py-3 text-sm font-medium text-white shadow-sm gap-x-2 rounded-es-xl bg-secondary focus:outline-none disabled:opacity-50 disabled:pointer-events-none"
    (click)="onPrintOrder(order.orderId)">
    طباعة
  </button>
  @if (isEditAllowed) {
    <button
    class="inline-flex items-center justify-center w-full px-4 py-3 text-sm font-medium bg-white shadow-sm gap-x-2 rounded-ee-xl text-secondary focus:outline-none disabled:opacity-50 disabled:pointer-events-none"
    (click)="onEditOrder(order.orderId)">
    تعديل
  </button>
}
</div>
