<p>controlling-page works!</p>

<!-- start delete component -->
<div class="flex flex-col items-center justify-center gap-6 w-full h-full p-4 bg-white rounded-lg shadow-md">
  <h2 class="text-lg font-bold text-gray-800">حذف الطلبات</h2>
  <div class="flex items-center justify-center w-full gap-6">
    <div>
      <!-- select date -->
      <app-date-picker (dateChanged)="onRangeDateOneChanged($event)"></app-date-picker>
      <p class="font-bold text-roseDark-100"> من يوم : {{ selectedDate }}</p>
    </div>
    <div>
      <!-- select date -->
      <app-date-picker (dateChanged)="onRangeDateTwoChanged($event)"></app-date-picker>
      <p class="font-bold text-roseDark-100"> الي يوم : {{ secondSelectedDate }}</p>
    </div>
  </div>
  <button class="px-4 py-2 mx-2 w-[200px] rounded-full font-semibold bg-roseDark-100 text-white hover:bg-secondary"
    (click)="deleteOrdersByStatusAndPeriod()"
    [disabled]="!selectedDate || !secondSelectedDate"
    >حذف</button>
</div>
<!-- end delete component -->
