<div class="p-3 bg-white rounded shadow-sm">
  <div class="flex items-center justify-between">
    <h2 class="my-3 text-2xl font-bold text-secondary">
      {{ "طلبات اليوم" + " (" + allOrders.length + ")" }}
    </h2>
    <h3 class="text-xl font-bold text-secondary">الاجمالي: {{ total }} جنيه</h3>
  </div>

  <div class="flex justify-center gap-[2rem]">
    <div>
      <span class="font-bold text-roseDark-100">من الساعة </span>
      <select
        class="rounded bg-beige w-[120px] px-3 py-2 border-2 border-cream text-roseDark-100 focus:bg-beige focus:outline-none"
        name="time" id="time" [(ngModel)]="selectedTime" (change)="onTimeChange()">
        @for (item of timeArr; track $index) {
        <option class="hover:bg-roseLight1 bg-beige" [value]="item">
          {{ item }}
        </option>
        }
      </select>
    </div>

    <div>
      <span class="font-bold text-roseDark-100">الترتيب </span>

      <select class="rounded w-[120px] px-3 py-2 border-2 bg-beige border-cream text-roseDark-100" name="time" id="time"
        [(ngModel)]="selectedOrder" (change)="onOrderChange()">
        <option class="hover:bg-roseLight1" value="new">الأحدث</option>
        <option class="hover:bg-roseLight1" value="old">الأقدم</option>
      </select>
    </div>
  </div>

  <!-- @if (printedOrder) {
  <app-order-print [order]="printedOrder"></app-order-print>
  } -->

  <div class="flex flex-wrap items-center gap-2 my-2">
    <p>ابحث بأسم العميل :</p>
    <input type="search" name="searchOrder" id="searchOrder" (input)="searchByCustomerName($event)" #customerNameInput
      class="p-1 m-2 border shadow-sm rounded-xl " placeholder="ابحث" />
  </div>

  <!-- <div class="flex flex-wrap justify-center gap-3 my-5">
    @for (order of filteredOrders; track order.orderId) {
    <app-order-box [order]="order" [isEditAllowed]="true" (editOrder)="editOrder($event)" (printOrder)="printReceipt($event)"></app-order-box>
    }
  </div>

  @if (!allOrders.length) {
  <h3 class="p-2 m-5 text-3xl text-center text-roseDark-100">لا يوجد طلبات</h3>
  } -->
  <app-orders-wrapper [allOrders]="allOrders" [filteredOrders]="filteredOrders" [isEditAllowed]="true" (editOrder)="editOrder($event)" (changeOrderStatus)="changeOrderStatus($event)"></app-orders-wrapper>

</div>
